<div class="image-container backbone-temp col-xs-8 col-xs-offset-2">
  <div>
    <div class ="row text-center">
      <h1><%= image.escape('title') %></h1>
    </div>

    <div class="row text-center">
      <div class="">
        <img src="<%= image.escape('image_url') %>" class="img-show">
      </div>
    </div>

    <div class="description">
      <p><%= image.escape('description') %></p>
    </div>
  </div>

  <div class="row image-comments">
    <h2>Comments</h2>
    <ul class="list-unstyled">
      <% comments.each( function (comment) { %>
        <li>
          <%= comment.escape('username') %> said: <%= comment.escape('content') %><br>
             at   <%= comment.escape('created_at') %>
        </li><br>
      <% }) %>
  </div>

  <div class="submit-new-comment">
    <form class="new-comment-form">
      <p>
      <label for="new-comment">New Comment</label><br>
        <textarea class="new-comment-content"></textarea>
      </p>
      <p>
        <button class="new-comment-submit btn btn-default">Submit Comment</button>
      </p>
    </form>
  </div>
</div>
