<div class="feed">
  <div class="images-show">
    <% images.each(function (image) { %>
      <div class="row">
        <div class="col-xs-3">
          <p>
            <h3><%= image.escape('title') %></h3>
            Posted by <%= image.escape('username') %>
            on <%= image.escape('created_at') %>
          </p>
        </div>
        <div class="col-xs-6">
          <a href="#/images/<%= image.escape('image_id') %>">
            <img src="<%= image.escape('image_url') %>" class="album-img">
          </a>
        </div>
      </div>
    <% }); %>
  </div>

</div>
