<div class="profile" id="profile-show">
  <div class="row cover-image" id="cover-image"
    style="background-image: url(<%= user.escape('cover_photo_url') %>)">
    <div class="row"></div>
    <img src="<%= user.escape('avatar_url') %>" id="user-profile-img">
    <div class="person">
      <h1><span class="name-holder"><%= user.escape('username') %></span></h1>
    </div>
    <div class="stats">
      <div class="stat statcount">
        <h1><%= user.imageCount %></h1>
        <h2>Photos</h2>
      </div>
      <div class="stat member-since">
        <h1>October 2014</h1>
        <h2>Member Since</h2>
      </div>
      <div class="change-photo" style="display: none">
        <a><strong>Edit cover photo</strong></a>
      </div>
    </div>
    <div class="navbar profile-nav" id="profile-navbar" style="visibility: hidden">
      <ul class="clearfix nav navbar-nav">
        <li><a>Photostream</a></li>
        <li><a>Albums</a></li>
        <li><a>Favorites</a></li>
        <li><a>Edit</a></li>
      </ul>
    </div>
  </div>

  <div class="row">
    <% if (user.id == currentUserId) { %>
      <button class="change-avatar btn btn-default">Change avatar Image</button>
    <% } %>
  </div>


  <div class="container-fluid photostream" >
    <% images.each( function (image) { %>
    <div class="photostream-thumb">
      <img src="<%= image.escape('image_url') %>" class="photostream-img"
      style="max-width: <%= width/3.2 %>px">
    </div>
    <% }); %>
  </div>




</div>
