<div class="hover-target">
  <span class="image-container">
    <a href="#/images/<%= image.escape('id') %>">
      <img src="<%= image.escape('image_url') %>">
    </a>
  <span>
  <div class="image-description">
    <div class="image-title">
      <a href="#/images/<%= image.escape('id') %>">
        <%= image.escape('title') %>
      </a>
    </div>
    <div class="image-owner">
      <a href="#/users/<%= image.escape('owner') %>">by <%= image.escape('owner') %></a>
    </div>
    <span class="glyphs">
        <a href="">
          <span class="glyphicon glyphicon-star-empty" data-id="<%= image.id %>">
          </span>
        </a>
        <a><span class="glyphicon glyphicon-comment"></span></a>
        <a><span class="glyphicon glyphicon-resize-full"></span></a>
    </span>
  </div>
</div>
