<!DOCTYPE html>
<html>
<head>
  <title>ef-stops</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag 'application'%>
  <%= filepicker_js_include_tag %>
  <script>filepicker.setKey("<%= ENV['filepicker_api_key'] %>");</script>
</head>
<body>
  <section>
      <%= render "layouts/header" %>
    <main class="main-logged-out">
      <% if flash[:success] %>
      <div class="errors bg-success col-xs-4 col-xs-offset-4">
        <% flash[:success].each do |success| %>
          <p class="text-success"><%= success %></p>
        <% end %>
      </div>
      <% end %>

      <% if flash[:errors] %>
      <div class="errors bg-danger col-xs-4 col-xs-offset-4">
        <% flash[:errors].each do |error| %>
          <p class="text-danger"><%= error %></p>
        <% end %>
      </div>
      <% end %>

      <div id="modal-container"></div>
      <div class="login-container" id="main-container">
        <%= yield %>
      </div>

    </main>
    <div class="footer text-center">
      <%= render "layouts/footer" %>
    </div>
  </section>

</body>
</html>
