<!DOCTYPE html>
<html>
<head>
  <title>ef-stops</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
  <%= filepicker_js_include_tag %>
  <script>filepicker.setKey("<%= ENV['filepicker_api_key'] %>");</script>
</head>
<body>
  <%= render "layouts/header" %>

    <% if flash[:success] %>
    <div class="errors bg-success col-xs-4 col-xs-offset-4">
      <% flash[:success].each do |success| %>
        <p class="text-success"><%= success %></p>
      <% end %>
    </div>
    <% end %>

    <% if flash[:errors] %>
    <div class="errors bg-danger col-xs-4 col-xs-offset-4">
      <% flash[:errors].each do |error| %>
        <p class="text-danger"><%= error %></p>
      <% end %>
    </div>
    <% end %>


    <%= yield %>


</body>
</html>
